.header-image {
	width: 40%;
}

.header-container {
    border: 1px solid black;
    width: auto;
    height: 46px;
    background-color: rgb(75, 45, 12);
    	list-style-type: none;
}

.header-container .url {
    color: rgb(85, 197, 19);
    text-decoration: none;
    padding: 0px;
    float: left;
    margin-right: 60px;
    font-size: 30px;
}
    
.home-page-park {
margin-right: 350px;
	width:100%;
	height: 100%;
}

.park-thumb {
	float: left;
}

.park-thumb img {
	display: block;
	margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: 25px;
    border: 3px solid white;
    }

.park-content {
	height: 387px;
	background: beige;
	border: 1px solid black;
	margin-right: 20px;
	margin-left: 20px;
}
.park-name {
    font-weight: bold;
    font-size: 30px;
    margin-left: 5%;
    margin-top: 25px;
    text-align: left;
    color: rgb(75, 45, 12)
}


.park-state {
	float: right;
	margin-right: 25px;
	margin-top: -57px;
	color: rgb(75, 45, 12);
}

.park-description {
    margin-right: 150px;
    margin-top: 96px;
    color: black;
}

/*ENTIRE PAGE  */
.detail-page {
	background: beige;
	border: 1px solid black;

}

/*PARK DETAILS PART OF PAGE  */
.detail-park {
	margin-right: 350px;
	width:100%;
	height: 100%;
}

.detail-thumb {
 float: stretch; 
}

.detail-thumb img {
	width: 90%;
    height: 550px;
    maring: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    display: block;
    border: 2px solid black;
}

.detail-info {
	margin-left: 5%;
    margin-right: 5%;
}

.detail-info td {
	display: inherit;
	
}

.detail-description {
	font-style: italic;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.forecast {
    display: flex;
    border: 1px solid black;
    margin: 99px;
    margin-left: 50px;
    margin-right: 150px;
    background: azure;
    height: 400px;
}
.forecast img {
	
}

.day-one {
	
}

.day-one img {
	width: 100%;
    margin-top: 25px;
}
.today {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.forecast1 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}


.message {
	text-align:center;
}

.temp-message {
	margin-top: 15px;
	text-align:center;
}

.other-days {

}


.other-days img{
    display: flex;
    width: 64%;
    margin-top: 25%;
    margin-left: 20%;
    margin-right: 40%;
}




.high {
	text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.low{
	text-align: center;
	
}
.survey-page {
    border: 1px solid black;
    background: beige;
    height: fit-content;
    width: auto;
    margin: auto;
    padding-left: 30px;
}

.survey-page form {
	    display: inline-grid;
	    margin-left: 5%;
	    margin-right: 5%;
	    margin-bottom: 5%;
	    text-align: left;
	    width: 35%;
}

.email-wrapper {
	margin-bottom: 5%;
	
}
.email {
	
	float: left;
}

.email-input {
	float: right;
	
	
	
}

.park-wrapper{
	margin-bottom: 5%;

}

.survey-page form .survey-park {
	float: left;
	
}


form .park-entry {
	float: right;
	
	
}

.state-wrapper {
	margin-bottom: 5%;

}

.state {
	float: left;
}

.state-input {
	float: right;
}



.activity-wrapper {
		margin-bottom: 5%;
	
	text-align: right;
}

.activity {
	float: left;
}

activity-input{
	float: right;
	
}

.submit {
	text-align: center;
}














.favorite-wrapper {
	background: beige;
margin-right: 350px;
	width:100%;
	height: 100%;
}

.favorite-thumb {
	float: left;
}

.favorite-thumb img {
display: inline-grid;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 25px;
    margin-left: 50px;
    height: 100px;
    }

.favorite-content {
    height: 120px;
    background: beige;
    border: 1px solid black;
    margin-right: auto;
    margin-left: auto;
}

.favorite-park {
    text-align: left;
    font-weight: bold;
    font-size: 30px;
    width: max-content;
    margin-left: 25%;
    margin-top: 40px;
    color: rgb(75, 45, 12);
}


.favorite-count {
	margin-top: -31px;
	font-size: 25px;
    float: right;
    margin-right: 35%;
    color: rgb(75, 45, 12);
}




h2 {
	color: rgb(75, 45, 12);
} 




